*{
box-sizing:border-box;
touch-action:none;
}


body{

margin:0;
background:linear-gradient(#ffd6eb,#fff5fb);

font-family:Arial;

overflow:hidden;

}


.game{

width:100%;
max-width:430px;

margin:auto;
padding:15px;

text-align:center;

}



header{

background:white;

border-radius:25px;

padding:10px;

box-shadow:0 5px 15px #ddd;

}



h1{

color:#ff4f9d;

}



.stats{

font-size:22px;

}



#customerName{

margin:15px;

font-size:20px;

color:#ff5fa8;

}




.character{

height:360px;

position:relative;

}




#face{

position:absolute;

width:220px;

height:220px;

background:#ffd0b0;

border-radius:50%;

left:50%;

transform:translateX(-50%);

top:40px;

overflow:hidden;

box-shadow:0 5px 20px #ddd;

}



#hair{

position:absolute;

width:240px;

height:120px;

background:#ff8bc8;

border-radius:60%;

left:95px;

top:35px;

z-index:3;

}



.eye{

position:absolute;

background:#222;

width:25px;

height:35px;

border-radius:50%;

top:95px;

animation:blink 4s infinite;

}



.left{

left:55px;

}



.right{

right:55px;

}



@keyframes blink{

0%,90%,100%{

height:35px;

}

95%{

height:4px;

}

}



.cheek{

position:absolute;

background:#ff9cab;

width:35px;

height:18px;

border-radius:50%;

top:145px;

}



.leftCheek{

left:25px;

}


.rightCheek{

right:25px;

}



.mouth{

position:absolute;

bottom:35px;

left:80px;

width:60px;

height:25px;

border-bottom:5px solid #ff4f80;

border-radius:50%;

}




#dress{

position:absolute;

bottom:0;

left:50%;

transform:translateX(-50%);

width:160px;

height:120px;

background:#ff80c0;

border-radius:80px 80px 20px 20px;

}




#foam{

position:absolute;

inset:0;

background:white;

opacity:0;

border-radius:50%;

pointer-events:none;

}



#makeup{

position:absolute;

inset:0;

border-radius:50%;

opacity:0;

}



.progress{

height:20px;

background:white;

border-radius:20px;

overflow:hidden;

}



#progressBar{

height:100%;

width:0%;

background:#7be7ff;

}



#tool{

position:absolute;

font-size:45px;

display:none;

z-index:20;

pointer-events:none;

}



button{

width:90%;

padding:15px;

margin:5px;

border:0;

border-radius:30px;

background:#ff72b9;

color:white;

font-size:17px;

}



.panel{

background:white;

padding:10px;

border-radius:25px;

}



.hidden{

display:none;

}



#message{

margin-top:15px;

background:white;

padding:15px;

border-radius:20px;

}